extends layout

block content

  each em in emp
    p #{em.firstname}
    form(name='input', method='get')

    input(type='text', name='firstname', value='#{em.firstname}')
    | -
    input(type='text', name='lastname', value='#{em.lastname}')
    | -
    input(type='text', name='email', value='#{em.email}')
    | -
    input(type='text', name='skill', value='#{em.skill}')
    | -
    input(type='text', name='branche', value='#{em.branche}')
    | -
    input(type='submit', value='Submit')
